

.row{
    display: flex;
    flex-wrap: wrap;
    background-color:black;
    padding-left: 27px;
    padding-right: 27px;
    
}
   
img{
width: 350px;
height: 200px;
margin: 5px;
    
   
    
}

